@import "../../config/global-config.scss";

.dropdown {
  position: relative;

  .label {
    display: flex;
    align-items: center;
    cursor: pointer;
    &:after {
      border-style: solid;
      border-width: 0.15em 0.15em 0 0;
      content: '';
      display: inline-block;
      height: 0.45em;
      margin-left: 10px;
      transform: rotate(135deg);
      vertical-align: top;
      width: 0.45em;
      transition: transform 300ms ease-in-out;
    }
  }

  &.open{
    .label{
      &:after{
        transform: rotate(-45deg);
      }
    }
    .dropdown-items{
       max-height: 100vh;
    }
  }

  .dropdown-items {
    transition: max-height 300ms ease-in-out;
    border: 0;
    padding: 0;
    list-style: unset;
    max-height: 0;
    position: absolute;
    overflow: hidden;
    background: #ffffff;
    border-radius: 0px;
    box-sizing: border-box;
    box-shadow: 0px 5px 10px -3px #bdbdbd;
    

    .nav-item {
      padding: 0;
      margin: 0;

      .nav-link {
        padding: 5px 15px;
        white-space: nowrap;
        color: #000;

        &:hover {
          color: clr(navbar-text-color);
          text-decoration: unset;
          background: clr(navbar-background-color);
        }
      }
    }
  }

  @media (max-width: 986px) {
    .dropdown-items{
      position: relative;
      width: 100%;
    }
  }
}