@import "../../config/global-config.scss";

.content {

    font-size: 18px;
    color: clr(text-color);

    .content-body {
        display: flex;
        justify-content: center;

        &>div {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            @media (max-width: 767px) {
                width: 100%;
            }
        }

        .left {
            justify-content: flex-start;
            align-items: center;

            img {
                height: 80%;

            }
        }

        .right {
            flex-flow: column;
            align-items: flex-start;

            p {
                margin-top: 20px;

                @media (max-width: 767px) {
                    font-size: 80%;
                }
            }

        }

        // &.lft {
        //     flex-direction: row-reverse;

        //     .left {
        //         justify-content: flex-end;
        //     }
        // }


    }

    &.lft{
        .content-body{
            flex-direction: row-reverse;
            .left{
                justify-content: flex-end;
            }
        }
    }
}