.contact-us-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .btn-container{
        text-align: right;
        width: 100%;
        padding: 0 15px;
        button{
            width: 150px;
            height: 48px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            @media (max-width: 767px) {
                width: 100%;
            }
        }
    }
}