* {
  box-sizing: border-box;
}

.container{
  max-width: 1000px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Amazon Ember", sans-serif;
  font-size: 16px;
}

.main {
  min-height: 100vh;
  width: 100%;
}


.ml-auto{
  margin-left: auto;
}

.mr-auto{
  margin-right: auto;
}

.margin-bottom-20{
  margin-bottom: 20px;
}

.margin-top-20{
  margin-top: 20px;
}

.margin-left-10{
  margin-left: 10px;
}

.margin-right-10{
  margin-right: 10px;
}

.padding-20 {
  padding : 20px !important;
  
}

.padding-10 {
  padding : 10px !important;
  
}

.card {
  padding: 15px;
}

.width-100{
  width: 100%;
}

.flex-row{
  flex-direction: row !important;
}

.pull-right{
  float: right;
}

label{
  width: 100%;
  display: block;
}

@media (max-width: 767px) {
    .hidden-sm{
      display: none !important;
    }
}

@media (min-width: 768px) {
    .hidden-sm-up{
      display: none !important;
    }
}



/* Scrollbar css */

body::-webkit-scrollbar, 
div::-webkit-scrollbar {
    width: 6px;
    height: 5px;
}

body::-webkit-scrollbar-track,
div::-webkit-scrollbar-track {
    // box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb {
    background-color: #c5c5c5;
    outline: 1px solid #c5c5c5;
    border-radius: 20px;
}